<VirtualHost *:80>
    ServerName {{ server_name_virtual_host }}
    DocumentRoot "{{ application_root_dir }}"

    CustomLog /var/log/apache2/{{ server_name_virtual_host }}-access.log combined
    ErrorLog /var/log/apache2/{{ server_name_virtual_host }}-error.log
    <Directory "{{ application_root_dir }}">
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
